[user]
  name = i0z0m
  email = i0z0mu@gmail.com
	signingkey = 9EA63C033B7D9207

[commit]
	gpgsign = true
[gpg]
	program = gpg
[tag]
	gpgsign = true

[init]
  defaultBranch = main

[core]
  editor = vim -c \"set fenc=utf-8\"
  quotepath = false
  ignorecase = false
  excludesfile = ~/.gitignore_global

[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Monokai Extended
  navigate = true

[interactive]
  diffFilter = delta --color-only

[merge]
  tool = vimdiff
  keepBackup = false
  conflictStyle = diff3
  ff = false

[pull]
  rebase = false
  ff = only

[ghq]
  user = i0z0m
  vcs = git
  root = ~/.ghq

[url "git@github.com:i0z0m"]
  insteadOf = https://github.com/i0z0m
[url "git@github.com:"]
  pushInsteadOf = https://github.com/

[credential "https://github.com"]
  helper = !gh auth git-credential

[alias]
    s = "status -s"
    l = "log --graph --abbrev-commit --oneline -n 20 --decorate --format=format:'%C(yellow)%h% %C(blue)%an%C(red)%d %C(white)%s'"
    di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    ca = !git add -A && git commit -av
    fb = "!f() { git branch -a --contains $1; }; f"
    fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
    fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
    dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
