[user]
	name = i0z0m
	email = i0z0m.prog@gmail.com

[init]
	defaultBranch = master

[core]
	editor = vim -c \"set fenc=utf-8\"
	quotepath = false
	ignorecase = false
	excludesfile = ~/.gitignore_global

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto

[merge]
  tool = vimdiff
  keepBackup = false
  conflictStyle = diff3

[pull]
	rebase = false

[ghq]
  vcs = git
  root = ~/ghq

#[url "git@github.com:i0z0m"]
#  insteadOf = https://github.com/i0z0m
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
