# binary
*
!*.*
!*/
a.out
*.bin


# c/cpp
*.o
.clangd/

# rust
target/
Cargo.lock

# ocaml
*.cmi
*.cmo
*.cmx

# haskll
*.hi

# python
.ropeproject/
__pycache__/
*.pyc

# haskell
cabal.sandbox.config
.cabal-sandbox

# others
*.pdf
*.wav
