[user]
	name = i0z0m
	email = i0z0m.prog@gmail.com

[core]
	editor = vim -c \"set fenc=utf-8\"
	quotepath = false
	ignorecase = false

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto

[merge]
	conflictStyle = diff3
