!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.dpi:       96
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintslight


!-------------------------------------------------------------------------------
! Xterm settings
!-------------------------------------------------------------------------------
Xterm*background:   #000000
Xterm*foreground:   #B2B2B2

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

! color
URxvt.fading:  40
!Linux default Colorscheme
URxvt*background: #0f0f0f
URxvt*foreground: #c8c8c8
!!black
URxvt*color0:  #251f1f
URxvt*color8:  #5e5e5e
!!red
URxvt*color1:  #eb4509
URxvt*color9:  #eb4509
!!green
URxvt*color2:  #94e76b
URxvt*color10: #95e76b
!!yellow
URxvt*color3:  #ffac18
URxvt*color11: #ffac18
!!blue
URxvt*color4:  #46aede
URxvt*color12: #46aede
!!magenta
URxvt*color5:  #e32c57
URxvt*color13: #e32c57
!!cyan
URxvt*color6:  #d6dbac
URxvt*color14: #d6dbac
!!white
URxvt*color7:  #efefef
URxvt*color15: #efefef

! scrollbar
URxvt.scrollBar_right: true
URxvt.scrollStyle:     plain

! transparent
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800

! font
URxvt.font:     xft:Cica:size=11:antialias=true, \
                xft:DejaVu Sans Mono:size=11
URxvt.boidFont: xft:Cica:size=12:antialias=true

! URxvt-perls
URxvt.perl-lib:        /lib64/urxvt/perl/
URxvt.perl-ext-common: default,selection-to-clipboard,osc-xterm-clipboard,matcher,tabbed,xim-onthespot
!! matcher
!URxvt.perl-ext-common: matcher
URxvt.url-launcher:    /usr/bin/vivaldi-stable
URxvt.matcher.button:   1
!! tabbed
!URxvt.perl-ext-common:  tabbed
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: #001020
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    #001020
!! xim-onthespot
!URxvt.perl-ext-common: xim-onthespot
URxvt.inputMethod:     fcitx
URxvt.preeditType:     OnTheSpot


!-------------------------------------------------------------------------------
! Other settings
!-------------------------------------------------------------------------------
Emacs*useXIM: false
