!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.dpi:       96
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintslight


!-------------------------------------------------------------------------------
! Xterm settings
!-------------------------------------------------------------------------------
Xterm*background:   #000000
Xterm*foreground:   #B2B2B2

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

! color
URxvt.fading:  40
! Gotham theme
URxvt*foreground:   #98d1ce
URxvt*background:   #0a0f14
URxvt*cursorColor:  #98d1ce
!! black
URxvt*color0:  #0a0f14
URxvt*color8:  #10151b
!! red
URxvt*color1:  #c33027
URxvt*color9:  #d26939
!! green
URxvt*color2:  #26a98b
URxvt*color10: #081f2d
!! yellow
URxvt*color3:  #edb54b
URxvt*color11: #245361
!! blue
URxvt*color4:  #195465
URxvt*color12: #093748
!! purple
URxvt*color5:  #4e5165
URxvt*color13: #888ba5
!! cyan
URxvt*color6:  #33859d
URxvt*color14: #599caa
!! white
URxvt*color7:  #98d1ce
URxvt*color15: #d3ebe9

! scrollbar
URxvt.scrollBar_right: true
URxvt.scrollStyle:     plain

! transparent
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800

! font
URxvt.font:     xft:Cica:size=11:antialias=true, \
                xft:DejaVu Sans Mono:size=11
URxvt.boidFont: xft:Cica:size=12:antialias=true

! URxvt-perls
URxvt.perl-lib:        /lib64/urxvt/perl/
URxvt.perl-ext-common: default,selection-to-clipboard,osc-xterm-clipboard,matcher,tabbed,xim-onthespot
!! matcher
!URxvt.perl-ext-common: matcher
URxvt.url-launcher:    /usr/bin/vivaldi-stable
URxvt.matcher.button:   1
!! tabbed
!URxvt.perl-ext-common:  tabbed
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: #001020
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    #001020
!! xim-onthespot
!URxvt.perl-ext-common: xim-onthespot
URxvt.inputMethod:     fcitx
URxvt.preeditType:     OnTheSpot


!-------------------------------------------------------------------------------
! Other settings
!-------------------------------------------------------------------------------
Emacs*useXIM: false
