urxvt*foreground:	white
urxvt*background:	black

!! font
urxvt*font:	xft:RictyDiminished:size=10:antialias=true
urxvt*boidFont:	xftRrictyDiminished:size=11:antialias=true
!! background
urxvt*depth:32
urxvt*background:[95]#000000
!! japanese
urxvt*preeditType:OnTheSpot
urxvt*perl-ext:xim-onethesopt

! urxvt-perls
!! clipboard
urxvt.perl-lib: /home/taka/.urxvt/urxvt-perls
urxvt.perl-ext-common: clipboard
urxvt.keysym.M-c: perl:clipboard:copy
urxvt.keysym.M-v: perl:clipboard:paste
urxvt.keysym.M-C-v: perl:clipboard:paste_escaped

!! keyboard-select
urxvt.perl-ext-common: keyboard-select:active
urxvt.keysym.M-s:perl: keyboard-select:search

!! url-select
urxvt.perl-ext:default,url-select
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.url-select.button:1
urxvt.url-select.launcher:chromium -new-tab
urxvt.url-select.underline:true

!! tab
urxvt.perl-ext-common:tabbed
urxvt.tabbed.tabbar-fg: 2
urxvt.tabbed.tabbar-bg: #001020
urxvt.tabbed.tab-fg: 3
urxvt.tabbed.tab-bg: #001020
